In [ ]:
#Figuring out the features and dataset size
import pandas as pd
Titanic = pd.read_csv("/content/Titanic-Dataset.csv")
print (Titanic.shape)
print (Titanic.size)
print (Titanic.columns)
print (Titanic.dtypes)

FileNotFoundError: [Errno 2] No such file or directory: '/content/Titanic-Dataset.csv'

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
Titanic = pd.read_csv(url)

print(Titanic.shape)
print(Titanic.size)
print(Titanic.columns)
print(Titanic.dtypes)

(891, 12)
10692
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
Titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
import seaborn as sns
Titanic = sns.load_dataset("titanic")
print(Titanic.shape)
print(Titanic.size)
print(Titanic.columns)
print(Titanic.dtypes)

(891, 15)
13365
Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

In [ ]:
#Figuring out the key variables and their meanings
import pandas as pd
Titanic = pd.read_csv("/content/Titanic-Dataset.csv")
print (Titanic.head(5))
print (Titanic.dtypes)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
#Showing the first five rows as example columns and printing a statistical summary of each data column
import pandas as pd
Titanic = pd.read_csv("/content/Titanic-Dataset.csv")
print (Titanic.head(5))
print ("Average of PassengerId is ", Titanic['PassengerId'].mean())
print ("Min of PassengerId is ", Titanic['PassengerId'].min())
print ("Max of PassengerId is ", Titanic['PassengerId'].max())
print ("std of PassengerId is ", Titanic['PassengerId'].std())
print ("Average of Survived is ", Titanic['Survived'].mean())
print ("Min of Survived is ", Titanic['Survived'].min())
print ("Max of Survived is ", Titanic['Survived'].max())
print ("std of Survived is ", Titanic['Survived'].std())
print ("Average of Pclass is ", Titanic['Pclass'].mean())
print ("Min of Pclass is ", Titanic['Pclass'].min())
print ("Max of Pclass is ", Titanic['Pclass'].max())
print ("std of Pclass is ", Titanic['Pclass'].std())
print ("Average of Age is ", Titanic['Age'].mean())
print ("Min of Age is ", Titanic['Age'].min())
print ("Max of Age is ", Titanic['Age'].max())
print ("std of Age is ", Titanic['Age'].std())
print ("Average of SibSp is ", Titanic['SibSp'].mean())
print ("Min of SibSp is ", Titanic['SibSp'].min())
print ("Max of SibSp is ", Titanic['SibSp'].max())
print ("std of Sibsp is ", Titanic['SibSp'].std())
print ("Average of Parch is ", Titanic['Parch'].mean())
print ("Min of Parch is ", Titanic['Parch'].min())
print ("Max of Parch is ", Titanic['Parch'].max())
print ("std of Parch is ", Titanic['Parch'].std())
print ("Average of Fare is ", Titanic['Fare'].mean())
print ("Min of Fare is ", Titanic['Fare'].min())
print ("Max of Fare is ", Titanic['Fare'].max())
print ("std of Fare is ", Titanic['Fare'].std())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
Average of PassengerId is  446.0
Min of PassengerId is  1
Max of PassengerId is  891
std of PassengerId is  257.3538420152301
Average of Survived is  0.3838383838383838
Min of Survived is  0
Max of Survived is  1
std of Survived is  0.4865924542648585
Average of Pclass is  2.308641975308642
Min of Pclass is  1
Max of Pclass is  3
std of Pclass is  0.8360712409770513
Average of Age is  29.69911764705882
Min of Age is  0.42
Max of Age is  80.0
std of Age is  14.526497332334044
Average of SibSp is  0.5230078563411896
Min of SibSp is  0
Max of SibSp is  8
std of Sibsp is  1.1027434322934275
Average of Parch is  0.38159371492704824
Min of Parch is  0
Max of Parch is  6
std of Parch is  0.8060572211299559
Average of Fare is  32.204207968574636
Min of Fare is  0.0
Max of Fare is  512.3292
std of Fare is  49.693428597180905

In [ ]:
import pandas as pd
import numpy as np # Added numpy import

# Load data
df = pd.read_csv("/content/Titanic-Dataset.csv")

# Check for missing values
print(df.isnull().sum())

# Fill missing values with median or average.
#If the number of null rows is not large, you can drop those rows.
df["Age"].fillna(df["Age"].median(),inplace=True)
df["Cabin"].fillna(df["Cabin"].mode(),inplace=True)
df["Embarked"].fillna(df["Embarked"].mode(),inplace=True)

from sklearn.preprocessing import LabelEncoder, StandardScaler
# Encode categorical columns
for col in df.select_dtypes(include="object"): # Use 'object' for categorical strings
  df[col] = LabelEncoder().fit_transform(df[col])

for col in df.select_dtypes(include="float64"): # Use 'object' for categorical strings
  df[col] = LabelEncoder().fit_transform(df[col])

# Feature scaling
scaler = StandardScaler()
numeric_cols = df.select_dtypes(include=np.number).columns
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])


# Check for missing values
print()
print(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

/tmp/ipython-input-2969502101.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].median(),inplace=True)
/tmp/ipython-input-2969502101.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Cabin"].fillna(df["Cabin"].mode(),inplace=True)
/tmp/ipython-input-2969502101.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Embarked"].fillna(df["Embarked"].mode(),inplace=True)

In [ ]:
Titanic

NameError: name 'Titanic' is not defined